body {
    max-width: 1250px;
    margin: auto;
}
.part1 {
    background-image: url(../images/Banner\ Image.png);
    text-align: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    

    width: 100%;
    height: 800px;
    border-radius: 1%;
    background: linear-gradient( rgb(129, 111, 111));
}

.happy {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 300px;

}

.new-year-party {


    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}
/*part2*/

.off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;

}

.holiday {
    color: #F00;
    font-size: 24px;
    font-weight: 500;

}

.catagories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;

}

.new-year-image {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;


}



.part2 {
    text-align: center;
    padding: 30px;

}

.part3 {
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;

    padding-top: 30px;
    width: 100%;
    height: 600px;

}

.part3 {
    display: flex;
    background-position-x: center;

}

.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 800;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 20px;
    padding-left: 100px;
}

.text-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 50px 20px 100px;

}

.button-join {


    text-transform: uppercase;
    position: absolute;
    left: 11%;


}

.image-group70 {
    padding-right: 100px;
    padding-top: 40px;

}

.about {
    padding: 30px;
    border-radius: 10px;
    background-color: #b4b2b2;
    
    margin: 0 auto;


}

.dateplace {
    text-align: center;
    font-size: large;


}

.red-color {
    color: #F00;
}

/*part4*/
.resume-container {
    display: flex;
    background-color: #fcf8f8;
    padding: 30px;
    margin-top: 30px;
    border-radius: 1%;
}
#circle{
    border-radius: 70%;
    background-color: #F00;
    page-break-inside: 45px;
    

}

.resume-item {
    padding: 50px;
    border-radius: 5px;

}

/*part5*/
.functional0 {
    text-align: center;
    padding-top: 20px;
}

.functional {
    color: #070211;

    font-size: small;


}

.holid {
    color: #F00;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.sale2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.dolor {
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    padding: 0px 300px 0px 300px;
}

.all-image {
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: space-around;

}

.image-4 {

   
    align-items: center;

}

.best-gift {
    color: #F00;
    font-family: Inter;
    font-size: small;

    font-weight: 500;
    padding-top: 30px;

}

.dolor-2 {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;

    font-weight: 400;
    line-height: 32px;
    
    padding: 0px 300px 0px 300px;
}

.part-7{
    
    border-radius: 10px;
    background-color: #d6d6d6;
     
     height: 400px;
     background-position: center;
     text-align: center;
     margin: 0 auto;
}
.image61{
    size: 30%;
}
.button3{
    background-color: #F00;
    color: #FFF;
    border-end-end-radius: 50px;
    border-top-right-radius: 50px;
    border: none;
    
    outline: none;
}

.input{
    border: none;

    
    outline: none;
    border-start-start-radius: 50px;
    border-bottom-left-radius: 50px;
}

.footer{
    border-radius: 10px;
    background-color: #000000;
     background-position: center;
     margin: 0 auto;
}
.footer-1st {
    display: flex;
    color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.big{
    padding: 120px 700px 409px 140px;
}
.social-link{
    align-items: center;
    text-align: center;
}
.last-footer{
display: flex;
color: #FFF;

}
.last-footer{
    display: flex;
}
.image-2{
    padding-top: 100px;
    justify-content: space-around;
    spa

    
}
.icon{
    padding-top: 130px;
}
#website{
    padding-bottom: 30%;
}
